doctype HTML
  html
    head
      title pug demo
      include stylesheets.pug
body
  h1 Happy as a Pug in a rug.
  h2=subtitle
  //- or
  //- h2 #{subtitle}

//- div 
.names
  ul
    each name in names
      li Hello, #{name}

- let wtf = "js is in my pug, wut?"

input(type='text', placeholder=wtf)

block content
  p This is here by default.

.footer-nav
  //- condition class using object mapping   
  a.foot-nav(class={active: loggedIn === true}, href='/') Logout
  a.foot-nav(class={active: loggedIn === false}, href='/') Login/Register

  //- if loggedIn 
  //-   a.foot-nav(class=active href='/')Logout
  //- else
  //-   a.foot-nav(class=active href='/')Login/Register
